/* Cores */
:root {
  --color-white: #fff;
  --color-dark1: rgb(39, 39, 39);
  --color-dark2: #2d2d2d;
  --color-dark3: #414141;
  --color-dark4: #1c1c1c;
  --color-dark5: #343434;
  --color-purple: #b040ff;
}

/* Configurações globais */
* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Cabeçalho */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-dark2);
  box-shadow: 1px 1px 5px var(--color-dark4);
  height: 150px;
  padding: 0 10%;
}

.header_navegacao {
  display: flex;
  align-items: center;
  gap: 50px;
  z-index: 998;
  height: 100vh;
  top: 0;
  bottom: 0;
}

.header_navegacao a {
  text-decoration: none;
  color: var(--color-white);
  font-weight: bold;
  transition: 0.4s;
}

.img_logo_header {
  width: 55px;
  margin: 0 auto;
  transition: transform 0.5s;
}

.img_logo_header:hover {
  transform: scale(1.05);
}

/* Corpo da página */
body {
  background-color: #f5f5f7;
}

.content {
  text-align: center;
  padding-top: 10px;
  transition: 1s;
}

.btn_header {
  display: none;
  background-color: transparent;
  border: none;
  color: var(--color-white);
  cursor: pointer;
}

/* Animações */
@keyframes animacaoslide {
  from {
    margin-left: -100vw;
  }
  to {
    margin-left: -10vw;
  }
}

@keyframes animacaoslide2 {
  from {
    margin-left: -10vw;
  }
  to {
    margin-left: -100vw;
  }
}

/* Outros estilos */
.fotinhas {
  height: 35px;
  width: 35px;
  padding-right: 10px;
  transition: 0.5s;
}

.sub_menu_wrap {
  position: absolute;
  top: 100px;
  right: 3%;
  width: 350px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
  z-index: 999;
}

.sub_menu_wrap.open_menu {
  max-height: 400px;
}

.sub_menu {
  background: var(--color-white);
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
}

.user_info {
  display: flex;
  align-items: center;
}

.user_info h3 {
  font-weight: 500;
  margin-top: 10px;
}

.user_info img {
  width: 55px;
  border-radius: 50%;
  margin-right: 15px;
}

.sub_menu hr {
  border: 0;
  height: 2px;
  width: 100%;
  background: #ccc;
  margin: 15px 0 10px;
}

.sub_menu_link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #525252;
  margin: 12px 0;
}

.sub_menu_link p {
  width: 100%;
  margin-top: 13px;
}

.sub_menu_link img {
  width: 40px;
  background: #e5e5e5;
  border-radius: 50%;
  padding: 8px;
  margin-right: 15px;
}

.sub_menu_link span {
  font-size: 22px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-bottom: 8px;
  transition: transform 0.5s;
}

.sub_menu_link:hover span {
  transform: translateX(5px);
}

.sub_menu_link:hover p {
  font-weight: 600;
}

.menu_login {
  margin-left: 100px;
}

.fieldset_login {
  margin: 100px auto;
  width: 400px;
  height: 300px;
}

.titulo_login {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  margin: 30px 0 -19px;
  font-weight: bold;
}

.botao_login {
  margin-left: 329px;
  margin-top: 15px;
}

/* Estilos para o container */
.container-cards {
  width: 90%;
  padding: 25px;
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box {
  width: calc(16% - 1px);
  margin: 0 1px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.192);
  transition: 1s;
  border-radius: 25px;
  margin-bottom: 40px;
}

.box img {
  display: block;
  width: 100%;
  border-radius: 10px;
}

.box:hover {
  transform: scale(1.1);
  z-index: 2;
}
.carousel {
  z-index: 1;
  margin-top: 10px;
}

#content {
  transition: filter 0.5s ease;
  margin-top: -5px;
}

.blurred {
  filter: blur(2px);
}

/* Botao de comprar */

.botaocomprar {
  margin-left: 80px;
  margin-bottom: 30px;
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.botaocomprar:hover {
  background-color: rgba(0, 0, 0, 0.664);
}

.Titu {
  padding-top: 50px;
  color: black;
  font-weight: 600;
  margin-left: 15px;
  font-size: 20px;
  transition: opacity 0.3s;
  opacity: 0;
  border-radius: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.box:hover .Titu {
  opacity: 1;
}

.descriçao {
  font-size: smaller;
  margin-left: 10px;
}

/* Estilos para dispositivos móveis */
@media screen and (max-width: 768px) {
  .btn_header {
    display: block;
  }

  .header_navegacao {
    position: absolute;
    flex-direction: column;
    top: 0;
    background-color: var(--color-dark5);
    height: 100%;
    width: 35vw;
    padding: 1em;
    animation-duration: 1s;
    margin-left: -100vw;
  }

  .sub_menu_wrap {
    position: absolute;
    top: 120px;
    left: 1%;
    width: 300px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
    z-index: 998;
  }

  .box {
    width: calc(50% - 20px); /* Duas imagens por linha */
    margin-bottom: 20px; /* Adiciona um espaço entre as duas linhas */
  }
  .botaocomprar {
    margin-left: 2px;
  }
}
footer {
  background-color: #f5f5f7;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px 0;
  text-align: center;
}

footer .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

footer .container ul {
  color: #6e6e73;
  list-style: none;
  padding: 0;
  font-size: 0.8em;
}

footer .container li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  transition: transform 0.3s;
  cursor: pointer;
}

/* Estilo para as palavras com hover */
footer .container li:not(.no_hover):hover {
  transform: scale(1.1);
}

footer .container .footer_heading {
  color: #1d1d1f;
  margin: 0;
  font-size: 1em;
  margin-bottom: 7px;
  cursor: default;
}

footer .container img {
  height: 30px;
  width: 30px;
}

footer img {
  margin-top: 0px;
  margin-left: 10px;
  height: 20px;
  width: 20px;
  transition: all 0.4s;
}

footer img:hover {
  opacity: 0.1;
}
